<launch>
	<arg name="dict" default="/home/zhaixiaolin/catkin_ws/src/rc-home-edu-learn-ros-master/rchomeedu_speech/robocup/robocup.dic" />
	<arg name="lm"  default="/home/zhaixiaolin/catkin_ws/src/rc-home-edu-learn-ros-master/rchomeedu_speech/robocup/robocup.lm" />
	<arg name="map_file"  default="/home/zhaixiaolin/my_map.yaml" />

	<!-- lm语音识别-->
	<include file="$(find rchomeedu_speech)/launch/lm.launch">
		<arg name="dict" value="$(arg dict)" />
		<arg name="lm"  value="$(arg lm)" />
	</include>

	<!--turtlebot_world节点-->
	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
	</include>

	<!--amcl节点-->
	<include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch">
		<arg name="map_file" value="$(arg map_file)" />
	</include>

	<!--turtlebot_rviz节点-->
	<include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch">
	</include>

	<!--hw_navigation节点-->
	<node pkg="rchomeedu_navigation" type="hw_navigation.py" name="hw_navigation" />

	<!--hw_navigation_speech节点-->
	<node pkg="rchomeedu_navigation" type="hw_navigation_speech.py" name="hw_navigation_speech" />

</launch>

